[color]
	ui = auto

[user]
	name  = Martin Jansen
	email = martin@divbyzero.net

[core]
	editor = code -n -w
	pager = diff-so-fancy | less --tabs=4 -RFX

[alias]
	pu = !"git fetch origin -v; git fetch upstream -v; git merge upstream/master"
 	pg = !"git log --pretty=format:'%h : %s' --date-order --graph"
