[user]
	name  = Martin Jansen
	email = martin@divbyzero.net

[core]
	editor = vim 

[alias]
	pu = !"git fetch origin -v; git fetch upstream -v; git merge upstream/master"
 	pg = !"git log --pretty=format:'%h : %s' --date-order --graph"
